{{ $style := resources.Get "css/katex.min.css" | fingerprint }}
{{ $katexjs := resources.Get "js/katex.min.js" | fingerprint }}
{{ $autorenderjs := resources.Get "js/auto-render.min.js" | fingerprint }}

<link rel="stylesheet"href="{{ $style.Permalink }}">
<script defer src="{{ $katexjs.Permalink }}"></script>
<script defer src="{{ $autorenderjs.Permalink }}" onload="renderMathInElement(document.body);"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: '\\[', right: '\\]', display: true},
        {left: '$$', right: '$$', display: true},
      ],
      throwOnError : false
    });
  });
</script>