{{- $name := .Get 0 -}}
{{- with index site.Data $name -}}
  {{- range .video }}
  <details>
    <summary>{{ .title }}</summary>
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen="allowfullscreen"
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin"
        src="https://www.youtube.com/embed/{{ .id }}?rel=0"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
        title="{{ .title }}">
    </iframe>
    </div>
  </details>
  {{- end }}
{{- end }}
